
/*El contenedor que contiene todos lo elementos de la tabla*/
.contenedor__tabla {
    padding-bottom: 3rem;
}

.tabla {
    border-collapse: collapse; /* Combina border-spacing y bordes */
    width: 100%; /* Ajusta la tabla al 100% del contenedor */
}

.tabla th, .tabla td {
    border: 1px solid black; /* Define un borde sólido negro */
    padding: 5px; /* Define el padding dentro de las celdas */
    text-align: left; /* Alinea el texto a la izquierda */
    font-size: 1.4rem; /* Ajusta el tamaño del texto */
    
    &.texto--centrado {
        text-align: center;
    }
    
    &.disponible {
        color: var(--color_disponible);
    }
    &.no_disponible {
        color: var(--color_no_disponible)
    }
}


.tabla th {
    background-color: var(--tabla_th);
    position: relative;
    z-index: 1; /* Asegura que los encabezados estén por encima del contenido */
    color: black;
    text-align: center;
}

.tabla thead {
   position: sticky;
   top: 7rem;
   z-index: 2; /* Asegura que thead se mantenga sobre el resto del contenido */
}

.tabla thead::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: black; /* Borde superior */
    z-index: 3;
}

.tabla thead::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black; /* Asegura que el borde inferior del thead sea visible */
    z-index: 3;
}

/* Estilo para filas pares */
.tabla tr:nth-child(even) {
    background-color: #F5F5F5; /* Color de fondo para las filas pares */
}

.tabla tbody tr:hover {
    cursor: pointer;
    background: var(--tabla_tr_hover);
    color: white;
}

.contenedor__tabla--botones {
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--blanco);
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2rem;
    padding-top: 3.9rem;
    padding-bottom: 3rem;
    position: sticky;
    top: -2rem;

    button {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 2rem;
    }

}
@media (max-width: 800px) {
    .contenedor__tabla--botones {

    }
}


.tabla tbody tr.selected {
    background: var(--tabla_tr_seleccionado);
    color: white;
}


/* Regla tabla usuarios */
tr.user-deleted:not(.selected) {
    background: rgba(255, 0, 0, 0.10);
}

tr.user-admin:not(.selected) {
    background: rgba(0, 255, 0, 0.10);
}


