
.contenedor__grid--3c {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.contenedor__grid--2f {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
}

.contenedor__grid--2c {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
}


.seccion {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
    flex-direction: column;
    
    .titulo--seccion {
        text-align: center;
    }
    
    .contenedor__formulario {
        padding: 0rem;
    }
}

.contenedor__cards {
    flex: 1;          /* ocupa todo el alto disponible */
    min-height: 0;    /* permite que el grid se contraiga y no rompa el diseño */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    grid-auto-rows: 150px; /* altura automática según el contenido */
    align-items: stretch;  /*todas las tarjetas de una fila igual de altas */
    
    &#contendor__almacenes {
        padding-top: 2rem;
        /*place-content: center start;  vertical center, horizontal left */
    }
    
    &#contendor__articulos {
       grid-auto-rows: 12rem; /* altura automática según el contenido */
    }
}

.card__articulo {
    min-height: 50px;
   
    display: grid;
    grid-template-rows: 2fr 1fr;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    
    border-style: solid;
    border-width: 1px;
    border-color: var(--borde_input_formulario);
    
    &.seleccionado {
        
        border-color: var(--secundario-brillo);
        border-width: 2px;
    }
}

.card__articulo:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--tabla_tr_hover);
    transform: scale(1.01);
    cursor: pointer;
}

.card__articulo--imagen {
    margin: 1rem 1rem 0 1rem;
    height: 4rem;
    max-height: 4rem;
    text-align: center;
    align-content: center;

    img {
        /*width: 15rem;*/
        height: 100%;
    }
}

.card__articulo--superior {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 30% 70%;
}

.card__articulo--datos {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    
    p {
        margin: 0;
        font-size: 1.4rem;
        
        &.card__articulo--datos--descripcion {
            margin-bottom: 1rem;
            text-align: center;
        }
    }
    
    span {
        
    }
}

.card__articulo--nombre {
    padding: 1rem;
    color: var(--texto_principal);
    text-align: center;
}


#graficoEmplazamientos {
    width: 550px;
    height: 320px;
}

.card__almacen {
    padding: 10px;
    min-height: 150px;
    max-height: 180px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    
    background-color: var(--fondo_card);
    
    border-style: solid;
    border-color: var(--borde_input_formulario);
    border-width: 1px;
    
    &.seleccionado {
        border-color: var(--secundario-brillo);
        border-width: 3px;
    }
}

.card__almacen:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--fondo_card_hover);
    transform: scale(1.01);
    cursor: pointer;
}


.card__almacen--titulo {
    text-align: center;
}

.card__almacen--datos {
    
    p {
        margin: 0;
        font-size: 1.4rem;
        
        &.card__almacen--datos--descripcion {
            margin-bottom: 1rem;
            text-align: center;
        }
    }
    
    span {
        
        
    }
    
    
}




