
.contenedor__grid--3c {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.contenedor__grid--2f {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
}

.contenedor__grid--2c {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
}


.seccion {
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
    flex-direction: column;
    
    .titulo--seccion {
        text-align: center;
    }
}

.contenedor__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    grid-auto-rows: 150px; /* altura automática según el contenido */
    align-items: stretch; /* todas las tarjetas de una fila igual de altas */
}

.card__articulo {
    padding: 10px;
    min-height: 50px;
    max-height: 120px;
    display: grid;
    grid-template-rows: 80% 20%;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    
    &.seleccionado {
        border-style: solid;
        border-color: greenyellow;
        border-width: 2px;
    }
}

.card__articulo:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--fondo_card_hover);
    background-color: var(--tabla_tr_hover);
    
    transform: scale(1.01);
    cursor: pointer;
}

.card__articulo--imagen {
    height: 5rem;
    max-height: 5rem;
    text-align: center;
    align-content: center;

    img {
        /*width: 15rem;*/
        height: 5rem;
    }
}

.card__articulo--superior {
    display: grid;
    grid-template-columns: 40% 60%;
}

.card__articulo--datos {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    
    p {
        margin: 0;
        font-size: 1.4rem;
        
        &.card__articulo--datos--descripcion {
            margin-bottom: 1rem;
            text-align: center;
        }
    }
    
    span {
        
        
    }
}

#graficoEmplazamientos {
    width: 500px;
    height: 320px;
}

.card__almacen {
    padding: 10px;
    min-height: 150px;
    max-height: 180px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    
    background-color: var(--fondo_card);
    
    &.seleccionado {
        border-style: solid;
        border-color: greenyellow;
        border-width: 2px;
    }
}

.card__almacen:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--fondo_card_hover);
    transform: scale(1.01);
    cursor: pointer;
}


.card__almacen--titulo {
    text-align: center;
}

.card__almacen--datos {
    
    p {
        margin: 0;
        font-size: 1.4rem;
        
        &.card__almacen--datos--descripcion {
            margin-bottom: 1rem;
            text-align: center;
        }
    }
    
    span {
        
        
    }
    
    
}




